<!-- faq section start -->
<section class="section-blur faq-section pt-120 pb-120 bg-gradient-2">
    <div class="container">
        <div class="row justify-content-center mb-lg-15 mb-md-10 mb-8">
            <div class="col-xl-8 col-lg-10 text-center">
                <span
                    class="d-inline-flex align-items-center gap-1 text-sm fw-bold py-lg-3 py-2 px-lg-5 px-3 text-primary bg-n0 border primary-border radius-pill mb-lg-4 mb-2">
                    <span class="round-dot d-block bg-primary"></span>
                    Faq</span>
                <h2 class="text-animation-line text-n800 fw-semibold letter-space-n3 mb-lg-6 mb-4">
                    Client’s Frequently Asked <span class="text-primary fw-bold">Questions</span>
                </h2>
                <p class="text-n600 text-lg">
                    Our team of highly skilled carpenters and construction professionals know how to get the job
                    done right, on time and on budget
                </p>
            </div>
        </div>

        <!-- faq accordion  -->
        <div class="row g-6">
            <div class="col-lg-6">
                <div class="accordion-area d-grid gap-lg-5 gap-3">
                    <div class="accordion-item show">
                        <div
                            class="accordion-header d-flex align-items-center justify-content-between px-xl-8 px-md-6 px-sm-4 px-3 py-lg-6 py-md-4 py-2 text-lg fw-semibold radius-pill border">
                            <button class="accordion-button">
                                Are We Affordable to Hire?
                            </button>
                            <span class="accordion-icon"></span>
                        </div>
                        <div class="accordion-content px-xl-8 px-md-6 px-sm-4 px-3">
                            <p class="text-n600 text-base">
                                A Carpenter is a professional who is responsible for the entire project. A
                                Plumber is a professional who is responsible for the entire project.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div
                            class="accordion-header d-flex align-items-center justify-content-between px-xl-8 px-md-6 px-sm-4 px-3 py-lg-6 py-md-4 py-2 text-lg fw-semibold radius-pill border">
                            <button class="accordion-button">
                                Typical Project Cost?
                            </button>
                            <span class="accordion-icon"></span>
                        </div>
                        <div class="accordion-content px-xl-8 px-md-6 px-sm-4 px-3">
                            <p class="text-n600 text-base">
                                A Carpenter is a professional who is responsible for the entire project. A
                                Plumber is a professional who is responsible for the entire project.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div
                            class="accordion-header d-flex align-items-center justify-content-between px-xl-8 px-md-6 px-sm-4 px-3 py-lg-6 py-md-4 py-2 text-lg fw-semibold radius-pill border">
                            <button class="accordion-button">
                                What services do you offer?
                            </button>
                            <span class="accordion-icon"></span>
                        </div>
                        <div class="accordion-content px-xl-8 px-md-6 px-sm-4 px-3">
                            <p class="text-n600 text-base">
                                A Carpenter is a professional who is responsible for the entire project. A
                                Plumber is a professional who is responsible for the entire project.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div
                            class="accordion-header d-flex align-items-center justify-content-between px-xl-8 px-md-6 px-sm-4 px-3 py-lg-6 py-md-4 py-2 text-lg fw-semibold radius-pill border">
                            <button class="accordion-button">
                                Handle Permits & Regulations?
                            </button>
                            <span class="accordion-icon"></span>
                        </div>
                        <div class="accordion-content px-xl-8 px-md-6 px-sm-4 px-3">
                            <p class="text-n600 text-base">
                                A Carpenter is a professional who is responsible for the entire project. A
                                Plumber is a professional who is responsible for the entire project.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div
                            class="accordion-header d-flex align-items-center justify-content-between px-xl-8 px-md-6 px-sm-4 px-3 py-lg-6 py-md-4 py-2 text-lg fw-semibold radius-pill border">
                            <button class="accordion-button">
                                Past Work Examples?
                            </button>
                            <span class="accordion-icon"></span>
                        </div>
                        <div class="accordion-content px-xl-8 px-md-6 px-sm-4 px-3">
                            <p class="text-n600 text-base">
                                A Carpenter is a professional who is responsible for the entire project. A
                                Plumber is a professional who is responsible for the entire project.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="accordion-area d-grid gap-lg-5 gap-3">
                    <div class="accordion-item">
                        <div
                            class="accordion-header d-flex align-items-center justify-content-between px-xl-8 px-md-6 px-sm-4 px-3 py-lg-6 py-md-4 py-2 text-lg fw-semibold radius-pill border">
                            <button class="accordion-button">
                                Renovation Building
                            </button>
                            <span class="accordion-icon"></span>
                        </div>
                        <div class="accordion-content px-xl-8 px-md-6 px-sm-4 px-3">
                            <p class="text-n600 text-base">
                                Overview of renovation phases for clear communication and customer
                                understanding.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div
                            class="accordion-header d-flex align-items-center justify-content-between px-xl-8 px-md-6 px-sm-4 px-3 py-lg-6 py-md-4 py-2 text-lg fw-semibold radius-pill border">
                            <button class="accordion-button">
                                Electric Services
                            </button>
                            <span class="accordion-icon"></span>
                        </div>
                        <div class="accordion-content px-xl-8 px-md-6 px-sm-4 px-3">
                            <p class="text-n600 text-base">
                                Overview of renovation phases for clear communication and customer
                                understanding.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div
                            class="accordion-header d-flex align-items-center justify-content-between px-xl-8 px-md-6 px-sm-4 px-3 py-lg-6 py-md-4 py-2 text-lg fw-semibold radius-pill border">
                            <button class="accordion-button">
                                Ductwork Servicing
                            </button>
                            <span class="accordion-icon"></span>
                        </div>
                        <div class="accordion-content px-xl-8 px-md-6 px-sm-4 px-3">
                            <p class="text-n600 text-base">
                                Overview of renovation phases for clear communication and customer
                                understanding.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div
                            class="accordion-header d-flex align-items-center justify-content-between px-xl-8 px-md-6 px-sm-4 px-3 py-lg-6 py-md-4 py-2 text-lg fw-semibold radius-pill border">
                            <button class="accordion-button">
                                Requesting Renovation Quotes?
                            </button>
                            <span class="accordion-icon"></span>
                        </div>
                        <div class="accordion-content px-xl-8 px-md-6 px-sm-4 px-3">
                            <p class="text-n600 text-base">
                                Overview of renovation phases for clear communication and customer
                                understanding.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div
                            class="accordion-header d-flex align-items-center justify-content-between px-xl-8 px-md-6 px-sm-4 px-3 py-lg-6 py-md-4 py-2 text-lg fw-semibold radius-pill border">
                            <button class="accordion-button">
                                Licensed & Insured Workers?
                            </button>
                            <span class="accordion-icon"></span>
                        </div>
                        <div class="accordion-content px-xl-8 px-md-6 px-sm-4 px-3">
                            <p class="text-n600 text-base">
                                Overview of renovation phases for clear communication and customer
                                understanding.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- faq section end -->