<!-- footer section start -->
<footer class="footer-section bg-n700">
    <div class="container py-lg-15 py-md-10 py-8">
        <div class="row g-6 justify-content-between">
            <div class="col-xl-5 col-lg-6">
                <h3 class="text-n0 fw-semibold letter-space-n3">
                    Get Instant Industrial <span class="fw-bold">Updates!</span>
                </h3>
            </div>
            <div class="col-lg-6">
                <span class="d-block text-n0 text-2xl fw-bold mb-lg-3 mb-2">Newsletter Subscription</span>
                <form action="#">
                    <div class="d-flex align-items-center gap-2 border n0-border radius-pill">
                        <input type="email" placeholder="Enter your email address"
                            class="w-100 bg-transparent text-n0 border-0 outline-0 p-3">
                        <button type="submit" class="btn-primary border n0-border">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <span class="d-block border-dashed-bottom n70-border"></span>
    <div class="container py-lg-15 py-md-10 py-8">
        <div class="row g-6 justify-content-between">
            <div class="col-lg-3 col-md-6">
                <div class="footer-logo mb-lg-8 mb-md-6 mb-4">
                    <img class="w-100" src="assets/images/logo.png" alt="logo">
                </div>
                <span class="d-block text-n40 text-lg mb-lg-8 mb-md-6 mb-4">We have been most trusted Home
                    Renovation partner for 25 years.</span>

                <ul class="social-items d-flex align-items-center gap-3">
                    <li><a href="#" class="social-item text-xl"><i class="ph-fill ph-facebook-logo"></i></a>
                    </li>
                    <li><a href="#" class="social-item text-xl"><i class="ph-fill ph-twitter-logo"></i></a></li>
                    <li><a href="#" class="social-item text-xl"><i class="ph-fill ph-instagram-logo"></i></a>
                    </li>
                </ul>
            </div>
            <div class=" col-lg-2 col-md-6">
                <span class="d-block text-n0 text-2xl fw-bold mb-lg-4 mb-3">Our Services</span>
                <ul class="footer-menu d-grid gap-lg-3 gap-2 text-n40">
                    <li class="menu-item">
                        <a href="#" class="hover-text-secondary">Home Renovations</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="hover-text-secondary">Electrical Services</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="hover-text-secondary">Camera Fitting</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="hover-text-secondary">Air Conditioner</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="hover-text-secondary">Plumbing</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <span class="d-block text-n0 text-2xl fw-bold mb-lg-4 mb-3">Pages</span>
                <ul class="footer-menu d-grid gap-lg-3 gap-2 text-n40">
                    <li class="menu-item">
                        <a href="about-us.html" class="hover-text-secondary">About</a>
                    </li>
                    <li class="menu-item">
                        <a href="services.html" class="hover-text-secondary">Services</a>
                    </li>
                    <li class="menu-item">
                        <a href="projects.html" class="hover-text-secondary">Projects</a>
                    </li>
                    <li class="menu-item">
                        <a href="blogs.html" class="hover-text-secondary">Blogs</a>
                    </li>
                    <li class="menu-item">
                        <a href="contact-us.html" class="hover-text-secondary">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <span class="d-block text-n40 text-2xl fw-bold mb-lg-4 mb-3">Support</span>
                <ul class="footer-menu d-grid gap-lg-3 gap-2 text-n0">
                    <li class="menu-item">
                        <a href="#" class="d-flex align-items-center gap-2 hover-text-secondary"><span
                                class="text-xl text-secondary"><i class="ph ph-phone"></i></span>
                            (+123) 123 456</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="d-flex align-items-center gap-2 hover-text-secondary"><span
                                class="text-xl text-secondary"><i class="ph ph-map-pin"></i></span>
                            19 Thordge Shiloh, Hawai</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="d-flex align-items-center gap-2 hover-text-secondary"><span
                                class="text-xl text-secondary"><i class="ph ph-envelope"></i></span>
                            info@example.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <span class="d-block border-dashed-bottom n70-border"></span>
    <div class="container py-lg-10 py-md-8 py-6">
        <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap">
            <span class="text-n40">Copyright © <span class="currentYear"></span> <a href="#"><span class="text-primary">
                        Dream</span><span class="text-secondary">Craft</span></a> All Rights
                Reserved.</span>

            <div class="d-flex align-items-center gap-3 flex-wrap">
                <a href="#" class="text-n40 hover-text-primary">Terms & Conditions</a>
                <a href="#" class="text-n40 hover-text-primary">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
<!-- footer section end -->